h1 Travel where ever you like.

.row
  .col-xs-3
    <angucomplete id='countryFinder' placeholder='Search a Country' pause='100' selectedObject='country' localdata='allCountry' searchfields='Country' titlefield='Country' minlength='1' />
  .col-xs-9


.row
  .col-xs-3


    form(role='form', novalidate, name='countryForm')
      label Passport from:
        select(ng-model='countryFrom' ng-change='selectCollection(countryFrom)')
          option(value='usavisarequire') USA
          option(value='dominicanvisarequire') Dominican Rep.
      .form-group
        label(for='travelTo') Traveling To:
        input.form-control#travelTo(type='text', name='travelTo', ng-model='countryTo', autofocus, required)
      button.btn.btn-primary(ng-show='countryForm.$valid', ng-click='findCountry()') Go!
  .col-xs-9
    .panel.panel-default(ng-show='hasSearched')
      p  Country: {{countryOne}}
      h1 {{countryOne.VisaRequirement}}

    pre {{country | json}}
    span{{temperature}}
    img(ng-src='{{icon}}')

//.panel(ng-repeat='c in allCountry') {{c.Country}}

{{}}
