h1 travel

.row
  <angucomplete id='countryFinder' placerholder='searchCountry' pause='100' selectedObject='country' localdata='allCountry' searchfields='Country' titlefield='Country' minlength='1' />



.row
  .col-xs-3
    form(role='form', novalidate, name='countryForm')
      .form-group
        label(for='travelTo') Travel to:
        input.form-control#travelTo(type='text', name='travelTo', ng-model='countryTo', autofocus, required)
      button.btn.btn-primary(ng-show='countryForm.$valid', ng-click='findCountry()') Go!
  .col-xs-9

   pre {{country | json}}

span(ng-repeat='c in allCountry') {{c.Country}}

{{}}
